header {
    background-color: white;
    color: white;
    height: 70px;
    width: 100%;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #CCCCCC;
}

.logo-container {
    background-image: url("../images/logo.png");
    display: block;
    height: 100%;
    background-repeat: no-repeat;
}
